.vscode/**
.vscode-test/**
.vscode-test-web/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
dist/**/test/**
syntaxes/*.yaml
pnpm-lock.yaml
**/pegconfig.json
